extends layout

block content
  h1 Supplier List
  table(style='border: 1px')
    each supplier, i in supplierlist
      tr
        td= supplier.name
        td= supplier.street1
        td= supplier.street2
        td= supplier.street3
        td= supplier.city
        td= supplier.state
        td= supplier.country
        td= supplier.countryisocode
        td= supplier.phonenumber
        td= supplier.faxnumber
        td
           | <a href="mailto:#{supplier.email}"> #{supplier.email}</a>
        td= supplier.dandbnumber